.imageWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  overflow: hidden;
  border-radius: 8px;
}

.imageWrapper img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.imageWrapper figcaption {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  left: 1rem;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  color: white;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 0.25rem;
}
