.contentCopyMediaBlock {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 0;

  @media (width >= 900px) {
    flex-direction: row;
    gap: 4rem;
    padding: 3rem 0;
  }
}

.copyBlock {
  flex: 1.15;
  order: 2;

  @media (width >= 900px) {
    .contentCopyMediaBlock:not(.mediaLeft) & {
      order: 1;
    }
  }
}

.mediaBlock {
  flex: 2;
  order: 1;
  overflow: hidden;

  .contentCopyMediaBlock.hasVideo & {
    width: calc(100% + 5rem);
    margin-left: -2.5rem;

    [data-video-player] :global([class*="player"]) {
      border-radius: 0;
    }

    @media (width >= 900px) {
      width: auto;
      margin-left: 0;

      [data-video-player] :global([class*="player"]) {
        border-radius: 8px;
      }
    }
  }

  &.blackBg {
    padding: 1rem;
    background-color: color-mix(
      in sRGB,
      var(--color-bg) 80%,
      var(--colors-black)
    );
  }

  &.microdotBg {
    padding: 0.5rem;

    @media (width >= 768px) {
      padding: 1rem;
    }
  }

  @media (width >= 900px) {
    .contentCopyMediaBlock:not(.mediaLeft) & {
      order: 2;
    }
  }
}

.copyFirstMobile {
  @media (width < 900px) {
    .copyBlock {
      order: 1;
    }

    .mediaBlock {
      order: 2;
    }
  }
}
