.input {
  width: 100%;
  font-size: 16px;
  color: var(--colors-black);
  appearance: none;
  background: transparent;
  border: 0;

  &:focus {
    outline: 0;
  }
}

.fieldset {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}
