.input {
  padding: 1rem;
  font-size: 16px;
  border: 1px solid var(--colors-gray);
  box-shadow:
    var(--shadow-input-inset),
    0 -1px 1px var(--color-surface-bg),
    0 1px 0 var(--color-surface-bg);

  &:focus {
    outline: none;
    border-color: var(--color-surface-text);
  }

  &.error {
    border-color: var(--colors-red);
  }
}
