.testimonial {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 120ch;
  margin: 0 auto;
}

.testimonialQuoteMark {
  margin-bottom: -50px;
  font-family: var(--font-family-numbers);
  font-size: 6em;
  line-height: 1;
  color: var(--color-text);
  text-align: center;
  transform: translateY(-10px);

  @media (min-width: 768px) {
    margin-bottom: -100px;
    font-size: 10em;
    transform: translateY(-20px);
  }
}

.testimonialQuote {
  font-size: clamp(1.35em, 5vw, 1.75em);
  color: var(--color-text);
}

.testimonialAuthor {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.testimonialAuthorName {
  font-size: 1.15rem;
  font-weight: 600;
  color: var(--color-text);
}

.testimonialAuthorTitle {
  font-size: 0.95rem;
  color: var(--color-text);
  opacity: 0.75;
}
