.page-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-layout-content {
  position: relative;
  z-index: 1;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  width: 100%;
  overflow-x: hidden;
  color: inherit;
}

.page-layout-content--no-hero {
  padding-top: 6rem;
}
