.contentCard {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: hidden;
  color: var(--text-color);
  background-color: var(--card-bg);
  border-radius: 20px;

  &.headshot {
    background-color: transparent;
    border-radius: 0;
  }
}

.copy {
  padding: 1rem;

  .headshot & {
    padding: 0;
  }
}

.media {
  position: relative;
  width: 100%;
  height: auto;

  &.icon {
    width: 32px;
    height: 32px;
  }
}
