.form {
  display: grid;
  gap: 1rem;
  padding-left: 5px;
}

.formSubmitContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.honeypot {
  position: absolute;
  left: -9999px;
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
}
