.form {
  display: flex;
  flex-flow: column nowrap;
  gap: 2.5rem;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 120ch;
  margin: 0 auto;
}

.form > * {
  width: 100%;
}

.formSubmitContainer {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  align-items: center;
  width: 100%;
}

@media (min-width: 768px) {
  .formSubmitContainer {
    flex-flow: row nowrap;
    justify-content: space-between;
  }
}

.honeypot {
  position: absolute;
  left: -9999px;
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
}
