.button {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  padding: 1rem 1.75rem;
  font-size: 0.875rem;
  color: var(--colors-text);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  text-decoration: none;
  outline: 1px solid transparent;
  outline-offset: 1px;
  background-color: var(--colors-red);
  border-radius: 1000px;
  transition: all 0.2s ease-in-out;

  &[disabled] {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.5;
  }

  &:hover {
    cursor: pointer;
    outline: 1px solid var(--colors-red);
    outline-offset: 2px;
  }

  &:focus {
    outline: none;
    border: 1px solid var(--colors-text);
  }

  &.outline {
    color: var(--colors-text);
    background-color: transparent;
    border-color: var(--colors-text);

    &:hover {
      color: var(--colors-text);
      background-color: var(--colors-black);
    }
  }

  &.secondary {
    color: var(--colors-text);
    background-color: var(--colors-red);

    &:hover {
      color: var(--colors-text);
      background-color: var(--colors-black);
    }
  }
}

.arrow {
  font-size: inherit;
  transition: transform 0.2s ease-in-out;
}

.button:hover .arrow {
  transform: translateX(4px);
}
