.button {
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  padding: 1rem 1.75rem;
  font-size: 16px;
  color: var(--colors-white);
  text-align: center;
  text-decoration: none;
  background-color: var(--colors-black);
  border-radius: 1000px;
  box-shadow:
    0 0 0 2px transparent,
    0 0 0 3px var(--colors-black);
  transition: all 0.2s ease-in-out;

  &[disabled] {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.5;
  }

  &:hover {
    cursor: pointer;
    background-color: var(--colors-black);
  }

  &.outline {
    color: var(--colors-black);
    background-color: transparent;
    border-color: var(--colors-black);

    &:hover {
      color: var(--colors-white);
      background-color: var(--colors-black);
    }
  }

  &.secondary {
    color: var(--colors-white);
    background-color: var(--colors-red);

    &:hover {
      color: var(--colors-white);
      background-color: var(--colors-black);
    }
  }
}
