.button {
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  padding: 1rem 1.75rem;
  font-size: 0.8rem;
  color: var(--colors-white);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  text-decoration: none;
  background-color: var(--colors-red);
  border-radius: 1000px;
  transition: all 0.2s ease-in-out;

  &[disabled] {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.5;
  }

  &:hover {
    color: var(--colors-white);
    cursor: pointer;
    background-color: color-mix(
      in srgb,
      var(--colors-red) 80%,
      var(--colors-black)
    );
  }

  &:focus {
    outline: none;
    border: 1px solid var(--colors-text);
  }

  &.outline {
    color: var(--colors-white);
    background-color: transparent;
    border-color: var(--colors-white);

    &:hover {
      color: var(--colors-white);
      background-color: var(--colors-black);
    }
  }

  &.secondary {
    color: var(--colors-white);
    background-color: var(--colors-red);

    &:hover {
      color: var(--colors-white);
      background-color: var(--colors-black);
    }
  }
}
