.hero {
  position: relative;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: clamp(5rem, 12vw, 12rem) clamp(1rem, 5vw, 2rem)
    clamp(3rem, 5vw, 8rem);
  color: var(--colors-white);
  text-align: center;
}

.heroContentLeft {
  justify-content: flex-start;
  text-align: left;
}

.heroEightyPercent {
  height: 85vw;
  min-height: 600px;
  max-height: 1000px;

  @media (min-width: 768px) {
    height: 80vh;
  }
}

.heroMedia {
  position: absolute;
  inset: 0;
  z-index: 0;
}

.heroOverlay {
  position: absolute;
  inset: 0;
  z-index: 1;
}

.heroContent {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  align-items: center;
  justify-content: center;
  max-width: 100ch;
  padding: 0 2rem;
  text-wrap: balance;
}

.heroContentLeft .heroContent {
  align-items: flex-start;
}

.heroContent header {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.heroTitle {
  font-size: clamp(2.75rem, 5vw, 5em);
}

.heroCarousel {
  width: 100%;
  height: 100%;
  aspect-ratio: unset;
}

.heroSlide {
  width: 100%;
  height: 100%;
  aspect-ratio: unset;
}

.heroPlaceholder {
  width: 100%;
  height: 100%;
  background-color: var(--colors-black);
}
