.projectCard {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  appearance: none;
  cursor: pointer;
  background-color: var(--colors-white);
  border: none;
  border-radius: 10px;
  transition:
    transform 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;
  will-change: transform;

  &:hover,
  &:focus {
    outline: 2px solid var(--colors-red);
    outline-offset: 2px;
  }

  &:hover {
    transform: translateY(-2px);
  }
}

.projectCardHeader {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: left;

  h3 {
    font-size: 1rem;
    color: var(--colors-black);
  }

  p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    font-size: 0.875rem;
    line-height: 1.4;
    color: var(--colors-black);
  }
}

.projectCardMedia {
  position: relative;
  aspect-ratio: 16 / 9;
  overflow: hidden;

  img {
    width: 100%;
    object-fit: cover;
  }
}

.projectCardContent {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 1rem;
  padding: 1em;
}

.statsList {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0;
}

.stat {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
}

.statDescription {
  font-size: 0.875rem;
  line-height: 1.2;
  color: var(--colors-black);
  text-align: left;
}

.statValue {
  font-family: var(--font-family-numbers);
  font-size: 0.875rem;
  color: var(--colors-black);
}
