.deployPage {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  height: 10vh;
  min-height: 300px;
  padding: var(--default-padding) var(--default-padding) 5rem;
  color: var(--colors-text);
  text-align: center;
  background-color: var(--colors-black);
  border-bottom: 1px solid var(--colors-black);
}

.deployPageHeader {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 76ch;
}

.deployPageTitle {
  font-size: clamp(2rem, 5vw, 4rem);
  font-weight: 700;
  line-height: 1.2;
  color: var(--colors-text);
}

.buttonGroup {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
}
