.stat {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  text-align: center;
  transition:
    box-shadow 0.3s ease,
    transform 0.3s ease;

  .number {
    margin: 0;
    font-family: var(--font-family-n27);
    font-size: 2.25rem;
    font-weight: 700;
    font-variant: tabular-nums;
    line-height: 1;
    color: inherit;
    text-align: center;

    @media (min-width: 600px) {
      font-size: 3rem;
    }

    @media (min-width: 1024px) {
      font-size: 5rem;
    }
  }

  .description {
    max-width: 200px;
    margin: 0;
    font-family: var(--font-family-body);
    font-size: 0.85rem;
    font-weight: 400;
    line-height: 1.4;
    color: inherit;

    @media (min-width: 768px) {
      font-size: 0.9rem;
    }

    @media (min-width: 1024px) {
      font-size: 1rem;
    }
  }
}
