.copyBlock {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  max-width: 90ch;
  text-align: center;

  h1::after {
    left: 50%;
    transform: translateX(-50%);
  }

  &.mobileAlignLeft {
    justify-content: flex-start;
    text-align: left;

    h1::after {
      left: 0;
      transform: none;
    }
  }

  &.mobileAlignRight {
    justify-content: flex-end;
    text-align: right;

    h1::after {
      right: 0;
      left: auto;
      transform: none;
    }
  }

  @media (min-width: 768px) {
    text-align: left;

    h1::after {
      left: 0;
      transform: none;
    }

    &.mobileAlignRight h1::after {
      right: 0;
      left: auto;
    }
  }

  @media (min-width: 1200px) {
    &.desktopAlignLeft {
      justify-content: flex-start;
      text-align: left;

      h1::after {
        right: auto;
        left: 0;
        transform: none;
      }
    }

    &.desktopAlignRight {
      justify-content: flex-end;
      text-align: right;

      h1::after {
        right: 0;
        left: auto;
        transform: none;
      }
    }
  }
}

.ctaContainer {
  margin-top: 1rem;
}
