@import "./fonts.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button,
input {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html,
body {
  background: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-family-body);
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  transition: background 0.2s ease-in-out;
  min-height: 100vh;
  position: relative;

  @media (min-width: 600px) {
    font-size: 16px;
  }
}

html {
  height: stretch;
  scroll-behavior: smooth;
}

body {
  line-height: 1;
  min-height: 100svh;
  overflow-x: hidden;
  padding: 0;
  position: relative;

  &:has(.is-mobile-nav-open) {
    overflow: hidden;
  }
}

.draftMode {
  background-color: var(--colors-red);
  color: var(--colors-white);
  border-radius: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  gap: 1rem;
  padding: var(--default-padding);
  position: fixed;
  right: var(--default-padding);
  bottom: var(--default-padding);
  z-index: 99;
}

.page {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  gap: var(--default-padding);
  margin: 0 auto;
  min-height: 100vh;
  overflow-x: hidden;
}

.page-content {
  background: var(--color-bg);
  position: relative;
  z-index: 1;
  overflow: hidden;
  flex: 1;
  padding-top: 100px;
}

img,
video {
  width: 100%;
  max-width: 100%;
  height: auto;
}

a {
  color: currentColor;
  font-family: inherit;
  text-decoration: underline;
  font-weight: normal;

  &:hover,
  &:focus {
    outline: 0;
    color: var(--colors-black);
  }
}

[hidden],
.hidden {
  display: none;
}

strong,
b {
  font-weight: 700;
}

.text-button {
  appearance: none;
  background: none;
  color: currentColor;
  font-size: inherit;
  text-decoration: underline;

  &:hover {
    cursor: pointer;
    color: var(--colors-black);
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: column nowrap;
  max-width: var(--container-width);
  margin: 0 auto;
  gap: var(--default-padding);
  width: 100%;
  padding: 0 var(--default-padding);
  position: relative;
  z-index: 1;
  flex: 1;

  @media (min-width: 768px) {
    padding: 0 4rem;
  }
}

.hidden-title {
  text-indent: -9999px;
  height: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: currentColor;
  font-family: var(--font-family-heading);
  font-weight: 700;
  position: relative;
  text-wrap: balance;
  z-index: 1;
  line-height: 1.1;
}

h1,
.h1 {
  font-size: clamp(2.25rem, 5vw, 6rem);
  font-weight: 800;
}

h2,
.h2 {
  font-size: clamp(1.75rem, 5vw, 1.85rem);
  font-weight: 700;
}

h3,
.h3 {
  font-size: clamp(1.25rem, 3vw, 1.45rem);
  line-height: 1.25;
  font-family: var(--font-family-text);
  font-weight: 600;
}

p {
  font-size: clamp(1rem, 1.5vw, 1.1rem);
  color: currentColor;
  line-height: 1.5;
}

i {
  font-style: italic;
}

.logo-container {
  display: flex;
  place-content: center;
  height: 100vh;
  width: 100%;
}

.logo {
  max-width: 300px;
}

.page-container {
  padding: 0 0 var(--default-padding);
  width: 100%;
}

.page-header {
  margin: auto;
  position: relative;
  z-index: 2;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: var(--default-padding);
  width: 100%;
  max-width: 140ch;
  color: var(--colors-text);
  padding-bottom: var(--default-padding);

  h1 {
    font-size: clamp(2rem, 10vw, 3rem);
    line-height: 1.1;
  }

  @media (min-width: 768px) {
    padding-bottom: 4rem;
  }
}

.skeleton {
  display: block;
  height: 1.5em;
  position: relative;
  overflow: hidden;
  background-color: var(--colors-lightgray);
  width: 100%;
  animation: shimmer 0.5s infinite alternate
    cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border-radius: 20px;
}

p:empty {
  display: none;
  height: 0;
}

input[type="checkbox"] {
  accent-color: var(--colors-black);
}

.light {
  background-color: var(--colors-white);
  color: var(--colors-black);
}

::selection {
  color: var(--colors-white);
  background-color: var(--colors-black);
}

[data-theme="light"] {
  --color-text: var(--colors-white);
  --color-bg: var(--colors-black);
}

:root {
  --colors-black: #1f1d1d;
  --colors-gray: #aaaaaa;
  --colors-silver: #dddddd;
  --colors-white: #ffffff;
  --colors-red: #e01e2d;
  --colors-lightgray: #f0f0f0;
  --color-text: var(--colors-white);
  --color-bg: var(--colors-black);
  --color-white-bg: var(--colors-white);
  --default-padding: 2rem;
  --gap: 2rem;
  --container-width: 1440px;

  --padding-less: 1rem;
  --padding-more: 2rem;
  --padding-no: 0;
  --padding-regular: 1rem;

  /* Font Variables */
  --font-family-n27:
    "N27", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, sans-serif;
  --font-family-heading:
    stolzl, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, sans-serif;
  --font-family-body:
    europa, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, sans-serif;

  @media (min-width: 600px) {
    --padding-more: 6rem;
    --padding-regular: 2.5rem;
  }
}
