.container {
  position: relative;
  display: block;
  aspect-ratio: 16 / 9;

  .player {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 9;

    &.rounded {
      overflow: hidden;
      border-radius: 8px;
    }
  }
}
