.buttonLink {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 16px;
  background-color: var(--colors-black);
  color: var(--colors-white);
  padding: 1rem 1.75rem;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  text-align: center;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
  border-radius: 1000px;

  &:hover {
    color: var(--colors-white);
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 1);
    cursor: pointer;
  }

  &.small {
    font-size: 0.9rem;
    padding: 0.75rem 1rem;
  }

  &.large {
    font-size: 1.25rem;
    padding: 1rem 2rem;
  }

  &.outline {
    background-color: transparent;
    border-color: var(--colors-black);
    color: var(--colors-black);

    &:hover {
      background-color: var(--colors-black);
      color: var(--colors-white);
    }
  }

  &.secondary {
    background-color: var(--colors-red);
    border-color: var(--colors-red);
    color: var(--colors-white);

    &:hover {
      background-color: var(--colors-black);
      border-color: var(--colors-black);
      color: var(--colors-white);
    }
  }
}
