.footer {
  position: relative;
  display: grid;
  grid-template-columns: repeat(var(--grid-columns), 1fr);
  gap: var(--grid-gap);
  width: 100%;
  padding: 4rem 2rem;
  color: var(--colors-text);
  background-color: var(--colors-bg);
  border-top: 1px dashed var(--divider);
}

.footerContent {
  display: grid;
  grid-template-columns: 1fr;
  grid-column: 1 / -1;
  gap: var(--gap, 4rem);
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 4rem;
  border-bottom: 1px solid var(--divider);

  @media screen and (min-width: 1000px) {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-column: 3 / -3;
    gap: var(--gap-md, var(--gap, 4rem));
  }
}

.footerSection {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;

  @media (min-width: 1000px) {
    &:last-child {
      grid-column: span 2;
    }
  }

  &:first-of-type {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    align-items: flex-start;
    justify-content: flex-start;
  }
}

.footerSocials {
  align-items: flex-end;
  justify-content: flex-start;
  padding-top: 2rem;

  a {
    color: var(--colors-text);
    transition: color 0.2s ease-in-out;

    &:hover {
      color: var(--colors-red);
    }
  }
}

.footerLogo {
  width: 100px;

  @media (min-width: 1000px) {
    width: 150px;
  }
}

.footerLinks {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  list-style: none;
}

.footerLink {
  display: block;
  padding: 0.25rem 0;
  font-size: clamp(1.15em, 3vw, 1.35em);
  color: var(--colors-text);
  text-decoration: none;
  transition: color 0.2s ease-in-out;

  &:hover,
  &:focus {
    color: var(--colors-gray);
  }

  @media (min-width: 1000px) {
    min-height: 0;
  }
}

.footerCopyright {
  display: flex;
  flex-direction: row;
  grid-column: 1 / -1;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  padding-top: 2rem;
  font-size: 0.875rem;
  color: var(--colors-silver);

  @media screen and (min-width: 1000px) {
    grid-column: 3 / -3;
  }
}

.footerCopyrightText {
  flex: 1.5;
  font-size: 0.875rem;
  line-height: 1.5;
}

.footerLinksTitle {
  font-family: var(--font-family-heading);
  font-size: 0.75rem;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.footerActions {
  display: flex;
  flex: 1;
  flex-flow: row nowrap;
  gap: 1rem;
  align-items: center;
  justify-content: flex-end;
}
