.hero {
  position: relative;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 12rem 2rem 8rem;
  text-align: center;
}

.heroContentLeft {
  justify-content: flex-start;
  text-align: left;
}

.heroContentRight {
  justify-content: flex-end;
  text-align: right;
}

.heroFullScreen {
  height: 100vh;
}

.heroEightyPercent {
  height: 85vw;
  min-height: 600px;
  max-height: 1000px;

  @media (min-width: 768px) {
    height: 80vh;
  }
}

.heroSmall {
  min-height: 200px;
  max-height: 400px;
  padding: 5rem 2rem 4rem;
}

.heroMedia {
  position: absolute;
  inset: 0;
  z-index: 0;
}

.heroOverlay {
  position: absolute;
  inset: 0;
  z-index: 1;
}

.heroOverlayStyleMicrodot {
  --dot-color: color-mix(in srgb, var(--dot-bg) 60%, var(--colors-white));
  --dot-size: 1px;
  --dot-space: 5px;
  background:
    linear-gradient(
      90deg,
      var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
      transparent 1%
    )
    center / var(--dot-space) var(--dot-space),
    linear-gradient(
      var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
      transparent 1%
    )
    center / var(--dot-space) var(--dot-space),
    var(--dot-color);
}

.heroContent {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  align-items: center;
  justify-content: center;
  max-width: 100ch;
  padding: 0 2rem;
  text-wrap: balance;
}
