.hero {
  position: relative;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: max(9.5rem, clamp(2.5rem, 6vw, 5rem)) clamp(1rem, 5vw, 2rem)
    clamp(3rem, 4vw, 8rem);
  text-align: center;

  &.heroContentLeft {
    justify-content: flex-start;
    text-align: left;

    .heroContent.showHeaderStyledBorder h1::after {
      left: 0;
      transform: none;
    }
  }

  &.heroContentRight {
    justify-content: flex-end;
    text-align: right;

    .heroContent.showHeaderStyledBorder h1::after {
      right: 0;
      left: auto;
      transform: none;
    }
  }

  &.heroFullScreen {
    height: 100vh;
  }

  &.heroEightyPercent {
    height: 85vw;
    min-height: 600px;
    max-height: 1000px;

    @media (min-width: 768px) {
      height: 80vh;
    }
  }

  &.heroSmall {
    min-height: 200px;
    max-height: 400px;
    padding: max(9.5rem, clamp(2.5rem, 5vw, 4rem)) clamp(1rem, 4vw, 2rem)
      clamp(2rem, 4vw, 2rem);

    @media screen and (min-width: 768px) {
      padding: max(9.5rem, clamp(3rem, 6vw, 5rem)) clamp(1rem, 4vw, 2rem)
        clamp(3rem, 4vw, 3rem);
    }
  }
}

.heroMedia {
  position: absolute;
  inset: 0;
  z-index: 0;
}

.heroOverlay {
  position: absolute;
  inset: 0;
  z-index: 1;

  &.microdotSubtle {
    --dot-mix: 40%;
    --dot-space: 7px;
  }
}

.heroContent {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  align-items: center;
  justify-content: center;
  max-width: 100ch;
  padding: 0 clamp(1rem, 4vw, 2rem);
  text-wrap: balance;

  h1 {
    margin-bottom: 0;
    font-size: clamp(2.75em, 5vw, 6em);

    &::after {
      display: none;
    }
  }

  &.showHeaderStyledBorder h1:only-child {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    line-height: 1;
  }

  &.showHeaderStyledBorder h1::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    display: block;
    width: 4rem;
    height: 2px;
    content: "";
    background-color: var(--colors-red);
    transform: translateX(-50%);
  }
}

.ctaContainer {
  margin-top: 1rem;
}
