.content-grid {
  display: flex;
  flex-wrap: wrap;
  gap: var(--default-padding);
  justify-content: flex-start;
  padding: 0 2rem;

  & > * {
    flex: 1 1 200px;
  }

  @media (max-width: 768px) {
    & > * {
      flex: 1 1 calc(50% - var(--default-padding) / 2);
    }
  }

  &.two-column > * {
    flex: 1 1 200px;

    &:only-child {
      flex: 1 1 100%;
    }
  }

  &.two-column:has(> *:nth-child(2):last-child) > *:first-child {
    flex: 1 1 200px;
  }

  &.two-column:has(> *:nth-child(2):last-child) > *:last-child {
    flex: 0 0 auto;
  }

  &.three-column > * {
    flex: 1 1 150px;
  }

  &.four-column > * {
    flex: 1 1 100px;
  }

  @media (max-width: 768px) {
    &.two-column > *,
    &.three-column > *,
    &.four-column > * {
      flex: 1 1 calc(50% - var(--default-padding) / 2);
    }

    &.two-column:has(> *:nth-child(2):last-child) > *:last-child {
      flex: 1 1 calc(50% - var(--default-padding) / 2);
    }

    & > *:only-child {
      flex: 1 1 100%;
    }
  }
}
