.marketHeaderSection [class*="sectionContent"] {
  grid-template-columns: 1fr;

  @media screen and (min-width: 768px) {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  }

  @media screen and (min-width: 1200px) {
    grid-template-columns: minmax(0, 30fr) minmax(0, 70fr);
  }
}

.marketHeader {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.marketHeaderEyebrow {
  margin: 0;
  font-size: 0.75rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.marketHeaderEyebrowText {
  color: var(--color-text);
}

.marketHeaderTitle {
  position: relative;
  padding-bottom: 1rem;
  margin: 0;
  font-size: clamp(2.4rem, 4vw, 3.5em);

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 4rem;
    height: 3px;
    content: "";
    background-color: var(--colors-red);
  }
}

.marketHeaderDescription {
  line-height: 1.7;
  letter-spacing: 0.01em;
}

.marketPhotos {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  min-width: 0;
  overflow: hidden;
  border-radius: 8px;
}

.marketProjectsSection [class*="sectionContent"] {
  align-items: stretch;
  justify-items: stretch;

  & > * {
    width: 100%;
  }
}
