.wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  min-width: 0;
  overflow: hidden;
  border-radius: 8px;
  transition: outline 0.2s ease;

  &:hover {
    outline: 1px solid var(--colors-white);
    outline-offset: 2px;
  }
}
