.wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 2rem;
  align-self: stretch;
  width: 100%;
  min-width: 0;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  background-color: var(--colors-black);
  border-radius: 8px;
}
