.richText {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: inherit;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    padding-top: 0;
  }

  a {
    color: var(--colors-red);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  ul,
  ol {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-left: 2.5rem;
    text-align: left;
  }

  li {
    line-height: 1.5;
  }
}

.enlargeBoldText {
  font-size: 1.125em;
}

.imageBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--sizing-2) 0;
}
