.richText {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: inherit;
  text-wrap: pretty;

  h1 {
    position: relative;
    margin: 0 0 1rem 0;
    font-size: clamp(2.25rem, 4vw, 3.5em);
    font-weight: 700;

    &:has(::after) {
      padding-bottom: 1rem;
    }

    &:only-child {
      padding-bottom: 0;
      margin-bottom: 0;
    }

    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 4rem;
      height: 3px;
      content: "";
      background-color: var(--colors-red);
    }
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    padding-top: 0;
  }

  a {
    color: var(--colors-red);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  ul,
  ol {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-left: 2.5rem;
    text-align: left;
  }

  li {
    line-height: 1.5;
  }
}

.enlargeBoldText {
  font-size: 1.125em;
}

.imageBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--sizing-2) 0;
}
