.accordionInner {
  padding: 0 0 2rem 0;

  @media (min-width: 600px) {
    padding: 0 0 4rem 0;
  }
}

.plusIcon {
  color: currentColor;
  transition: transform 0.2s ease-in-out;
}

.accordionButton {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 0;
  font-family: var(--font-family-heading);
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--color-text);
  text-align: left;
  cursor: pointer;
  background: none;
  border: none;
  transition: color 0.2s ease-in-out;

  &:focus {
    outline: none;
  }

  &:hover {
    color: var(--colors-red);
  }

  &.isOpen .plusIcon {
    transform: rotate(45deg);
  }

  @media (min-width: 600px) {
    font-size: 2rem;
  }
}

.accordion {
  width: 100%;
  overflow: hidden;
  border-top: 1px solid transparent;

  &:not(:first-child) {
    border-top-color: var(--divider);
  }

  &.active .accordionButton {
    color: var(--colors-red);
  }
}

.accordionHeader {
  margin: 0;
}

.accordionTitle {
  flex: 1;
}

.accordionIcon {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: rotate(360deg);
  }

  @media (min-width: 600px) {
    width: 64px;
    height: 64px;
  }
}

.accordionContent {
  overflow: hidden;
  background-color: var(--color-bg);

  &:not(.isOpen) .accordionInner {
    opacity: 0;
    transform: scaleY(0);
  }
}
