.notFoundPage {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: var(--default-padding);
  color: var(--colors-white);
  text-align: center;
  background-color: var(--colors-dark-blue);
  border-bottom: 1px solid var(--colors-black);
}
